<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
		<!-- Create live chat section to show under the general tab -->
        <section id="livechat" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Live Chat Configuration</label>
            <tab>general</tab>
			<resource>Testing_Assignment::config_assignment</resource>
				<group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Live Chat</label>
					<!-- Create field for Live chat Licence -->
					<field id="license" translate="label" type="obscure" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Live chat License</label>
						<validate>required-entry</validate>
					</field>
				</group>
				<!-- Create group for Live chat group and params -->
				<group id="advanced" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Live Chat group and Params</label>
					<!-- Create field for Live chat group -->
					<field id="group" translate="label"   type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Group</label>
						<validate>required-entry</validate>
					</field>
					<!-- Create field for Live chat params -->
					<field id="params" translate="label"  type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
						<label>Params</label>
					</field>
				</group>
        </section>
    </system>
</config>
